@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-body-wrapper {
  background-color: orange;
  max-height: 100vh;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    'header header main main main main main main main main main main'
    'header header main main main main main main main main main main'
    'header header main main main main main main main main main main';
}

.icons-area {
  grid-area: header;
}

.folder-area {
  grid-area: main;
}

.folder-top-bar-buttons_button {
  @apply hover:bg-neutral-600 w-full h-full px-4 flex items-center justify-center;
}
